/.editorconfig          export-ignore
/.gitattributes         export-ignore
/.github                export-ignore
/.gitignore             export-ignore
/.php_cs                export-ignore
/.php_cs.dist.php       export-ignore
/phpstan-baseline.neon  export-ignore
/phpstan.neon.dist      export-ignore
/phpunit.xml.dist       export-ignore
/pint.json              export-ignore
/rector.php             export-ignore
/tests                  export-ignore

