name: Run Pint

on:
  workflow_call:

jobs:
  check:
    name: Tests P${{ matrix.php }} - ${{ matrix.os }} - ${{ matrix.dependency-version }}
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        php: ['8.3']
        dependency-version: [prefer-stable]
      fail-fast: true
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Prepare
      uses: ./.github/workflows/prepare
    - name: Restore cache
      uses: actions/cache/restore@v5
      with:
        path: tmp/pint.cache
        key: "pint-cache-${{ github.run_id }}"
        restore-keys: |
          pint-cache-
    - name: Run Pint Test
      run: ./vendor/bin/pint --test --parallel
    - name: Save cache
      uses: actions/cache/save@v5
      if: ${{ !cancelled() }}
      with:
        path: tmp/pint.cache
        key: "pint-cache-${{ github.run_id }}"
