name: Run Rector

on:
  workflow_call:

jobs:
  dry-run:
    name: Tests P${{ matrix.php }} - ${{ matrix.os }} - ${{ matrix.dependency-version }}
    timeout-minutes: 10
    runs-on: ${{ matrix.os }}
    strategy:
      matrix:
        os: [ubuntu-latest]
        php: ['8.3']
        dependency-version: [prefer-stable]
      fail-fast: true
    steps:
    - name: Checkout
      uses: actions/checkout@v6
    - name: Prepare
      uses: ./.github/workflows/prepare
    - name: Restore cache
      uses: actions/cache/restore@v5
      with:
        path: tmp/rector
        key: "rector-cache-${{ github.run_id }}"
        restore-keys: |
          rector-cache-
    - name: Run Rector Dry Run
      run: ./vendor/bin/rector --dry-run
    - name: Save cache
      uses: actions/cache/save@v5
      if: ${{ !cancelled() }}
      with:
        path: tmp/rector
        key: "rector-cache-${{ github.run_id }}"
